In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_folder = os.getcwd().replace("notebook","data")
input_filePath = os.path.join(data_folder,"TX_PERM_data_set_2022_Q4.csv")
#read csv file to dataframe
tx_df = pd.read_csv(input_filePath)

In [3]:
tx_df.head()

,Unnamed: 0,Unnamed: 0.1,CASE_NUMBER,CASE_STATUS,WORKSITE_CITY,WORKSITE_STATE,EMPLOYER_NAME,EMPLOYER_STATE_PROVINCE,MAJOR_FIELD_OF_STUDY,JOB_TITLE,RECEIVED_DATE,DECISION_DATE,JOB_TITLE.1,MINIMUM_EDUCATION
0,5,5,A-21110-76321,Certified-Expired,Irving,TEXAS,"VERIZON COMMUNICATIONS INC., ALL ITS SUBSIDIA...",NEW YORK,"Computer Science, Computer Engineering, or a r...","Sr. Manager, Systems Engineering",2021-04-28,2021-10-01,"Sr. Manager, Systems Engineering",Bachelor's
1,9,9,A-20345-31881,Denied,Rockport,TEXAS,Contacting Association Solutions LLC,TEXAS,Engineering,Construction Field Engineer,2020-12-11,2021-10-01,Construction Field Engineer,Bachelor's
2,20,20,A-21083-66233,Certified-Expired,College Station,TEXAS,"VIASAT, INC.",CALIFORNIA,See H.14,Software Engineer,2021-04-22,2021-10-01,Software Engineer,Bachelor's
3,82,82,A-20320-21215,Certified-Expired,DALLAS,TEXAS,"KPI DATA SYS, INC",TEXAS,Comp Sci (any) Info Technology (any) Engg (any...,SOFTWARE DEVELOPER/ENGINEER,2020-11-16,2021-10-01,SOFTWARE DEVELOPER/ENGINEER,Master's
4,102,102,A-21098-71912,Certified-Expired,PLANO,TEXAS,TEK LEADERS INC,TEXAS,Computer,Software Developer / Analyst,2021-04-14,2021-10-01,Software Developer / Analyst,Master's

In [4]:
tx_df = tx_df.loc[:,tx_df.columns != 'Unnamed: 0']
tx_df = tx_df.loc[:,tx_df.columns != 'Unnamed: 0.1']
tx_df.head()

,CASE_NUMBER,CASE_STATUS,WORKSITE_CITY,WORKSITE_STATE,EMPLOYER_NAME,EMPLOYER_STATE_PROVINCE,MAJOR_FIELD_OF_STUDY,JOB_TITLE,RECEIVED_DATE,DECISION_DATE,JOB_TITLE.1,MINIMUM_EDUCATION
0,A-21110-76321,Certified-Expired,Irving,TEXAS,"VERIZON COMMUNICATIONS INC., ALL ITS SUBSIDIA...",NEW YORK,"Computer Science, Computer Engineering, or a r...","Sr. Manager, Systems Engineering",2021-04-28,2021-10-01,"Sr. Manager, Systems Engineering",Bachelor's
1,A-20345-31881,Denied,Rockport,TEXAS,Contacting Association Solutions LLC,TEXAS,Engineering,Construction Field Engineer,2020-12-11,2021-10-01,Construction Field Engineer,Bachelor's
2,A-21083-66233,Certified-Expired,College Station,TEXAS,"VIASAT, INC.",CALIFORNIA,See H.14,Software Engineer,2021-04-22,2021-10-01,Software Engineer,Bachelor's
3,A-20320-21215,Certified-Expired,DALLAS,TEXAS,"KPI DATA SYS, INC",TEXAS,Comp Sci (any) Info Technology (any) Engg (any...,SOFTWARE DEVELOPER/ENGINEER,2020-11-16,2021-10-01,SOFTWARE DEVELOPER/ENGINEER,Master's
4,A-21098-71912,Certified-Expired,PLANO,TEXAS,TEK LEADERS INC,TEXAS,Computer,Software Developer / Analyst,2021-04-14,2021-10-01,Software Developer / Analyst,Master's

In [21]:
tx_df.EMPLOYER_NAME.value_counts().index[:20]

Index(['INFOSYS LTD.', 'AMAZON WEB SERVICES, INC.', 'MVT SERVICES, LLC',
       'JP MORGAN CHASE  CO', 'CHARLES SCHWAB  CO., INC.',
       'AMAZON.COM SERVICES LLC', 'HCL AMERICA INC.', 'MAXEY TRAILERS MFG INC',
       'ADVANCED MICRO DEVICES, INC. AMD', 'INTEL CORPORATION',
       'VISA TECHNOLOGY AND OPERATIONS, LLC', 'NTT DATA, INC',
       'ATOS SYNTEL INC', 'ORACLE AMERICA, INC.', 'DELOITTE CONSULTING LLP',
       'DELL USA LP', 'WALMART ASSOCIATES, INC.', 'Vsion Technologies,INC',
       'TEK LEADERS INC', 'AMERICAN AIRLINES'],
      dtype='object')

In [25]:
tx_df.JOB_TITLE.value_counts().index[:30]

Index(['Technology Lead (Open Systems) - US', 'Software Developer',
       'Software Engineer', 'Software Developer / Analyst', 'TRUCK DRIVER',
       'Technical Test Lead - U.S.', 'Technical Test Lead - US',
       'Senior Software Engineer', 'Project Manager-US', 'WELDER',
       'Lead Consultant (Domain) - US', 'Technology Architect - U.S.',
       'Technology Lead (Business Intelligence) - US', 'SOFTWARE DEVELOPER',
       'Consultant (Products and Packages) - US', 'Consultant (Domain) – US',
       'Technology Lead (Infrastructure Management) - US',
       'Assistant Professor', 'Software Development Engineer II',
       'Elementary Bilingual Teacher', 'Landscape Laborer',
       'Sr. Software Engineer', 'OVER THE ROAD OPERATORS',
       'Technology Lead (Enterprise Solutions) - US',
       'Component Design Engineer', 'Concrete Finisher/Maintenance',
       'Computer Systems Analyst', 'Software Engineer III',
       'Consultant (Domain) - U.S.',
       'Cloud Support Engineer II (DBA, ANA, BD)'],
      dtype='object')

In [28]:
tx_df.JOB_TITLE

0        Sr. Manager, Systems Engineering
1             Construction Field Engineer
2                       Software Engineer
3             SOFTWARE DEVELOPER/ENGINEER
4            Software Developer / Analyst
                       ...
10957            Salvadoran Artisan Baker
10958                         FARM WORKER
10959           YARD AND WAREHOUSE WORKER
10960           YARD AND WAREHOUSE WORKER
10961       Jewelry Designer & Consultant
Name: JOB_TITLE, Length: 10962, dtype: object

In [43]:
tx_df['JOB_TITLE'].str.contains("Software").astype('bool')

0        False
1        False
2         True
3        False
4         True
         ...
10957    False
10958    False
10959    False
10960    False
10961    False
Name: JOB_TITLE, Length: 10962, dtype: bool

In [51]:
data_job_tx = tx_df.loc[tx_df['JOB_TITLE'].str.contains("Data").astype('bool'),:]

In [52]:
data_job_tx.to_csv(os.path.join(data_folder,"TX_data_job.csv"))

In [53]:
import numpy as np

In [60]:
data_job_tx[['JOB_TITLE','EMPLOYER_NAME']].groupby('EMPLOYER_NAME')['JOB_TITLE'].count()

EMPLOYER_NAME
360training.com          1
3CORE SYSTEMS INC        2
ACADEMIC PARTNERSHIPS    1
ADI WORLDLINK, LLC       1
ALLY BANK                1
                        ..
Xcelo Group, Inc.        1
Yum Connect, LLC         1
ZONES, LLC               1
ZYNGA INC.               1
iconix labs inc          1
Name: JOB_TITLE, Length: 190, dtype: int64

In [67]:
pd.pivot_table(data_job_tx,values ='JOB_TITLE',index='JOB_TITLE',columns = 'MINIMUM_EDUCATION')

ValueError: Grouper for 'JOB_TITLE' not 1-dimensional

In [39]:
tx_df.EMPLOYER_NAME=='NTT DATA, INC'

0        False
1        False
2        False
3        False
4        False
         ...
10957    False
10958    False
10959    False
10960    False
10961    False
Name: EMPLOYER_NAME, Length: 10962, dtype: bool

In [72]:
tx_df.loc[tx_df.JOB_TITLE.str.contains('Data Engineer').astype('bool'),['EMPLOYER_NAME']].value_counts()

EMPLOYER_NAME
Vsion Technologies,INC                                              12
AMAZON WEB SERVICES, INC.                                            3
AMAZON.COM SERVICES LLC                                              3
EXPEDIA, INC.                                                        2
HEB                                                                  2
CAPITAL ONE SERVICES, LLC                                            2
ATLASSIAN INC.                                                       1
ERICSSON INC.                                                        1
HORIZONSOFTSOLUTIONS, INC                                            1
HOME DEPOT PRODUCT AUTHORITY LLC                                     1
AMHERST HOLDINGS                                                     1
FIRST COMMAND FINANCIAL SERVICES, INC.                               1
ANJI TECHNOLOGIES LLC                                                1
EXCENTUS CORPORATION                                                 1
EOG RESOURCES, INC.                                                  1
ATT SERVICES, INC.                                                   1
ENBRIDGE EMPLOYEE SERVICES, INC.                                     1
DAMAN, INCORPORATED                                                  1
KEANE SOFT INC                                                       1
CALIX, INC.                                                          1
AVANADE                                                              1
AUSTIN TRAVIS COUNTY MENTAL HEALTH AND MENTAL RETARDATION CENTER     1
JG HEATING AND AIR CONDITIONING                                      1
Xcelo Group, Inc.                                                    1
XTGLOBAL,INC                                                         1
MCKESSON CORPORATION                                                 1
WALMART ASSOCIATES, INC.                                             1
VMWARE, INC.                                                         1
VISA USA                                                             1
UNIGO, INC                                                           1
TTI, INC.                                                            1
TRANSPORTATION SERVICES, INC.                                        1
TIS INTERNATIONAL USA, INC.                                          1
THAI HEALING MASSAGE CENTER                                          1
TEK NINJAS SOLUTIONS LLC                                             1
SCHRILL TECHNOLOGIES, INC                                            1
SAMSUNG ELECTRONICS AMERICA, INC.                                    1
RETAILMENOT, INC                                                     1
REPUBLIC FINANCE, LLC                                                1
PROCORE TECHNOLOGIES                                                 1
PLOY THAI RESTAURANT                                                 1
PEGASUS BUSINESS INTELLIGENCE, LP                                    1
PACIFIC INVESTMENT MANAGEMENT COMPANY, LLC                           1
ORABASE SOLUTIONS LLC                                                1
OPTUM SERVICES, INC.                                                 1
LYONDELL CHEMICAL COMPANY                                            1
dtype: int64